[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
pysftp = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
requests = "*"
tenacity = "*"
job-notifications = "*"
google-cloud-storage = "*"
gbq-connector = "*"

[requires]
python_version = "3.12"
